<%= debug params %>
<%= debug @timeweek %>
<%= debug @timesheets %>
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @timeweek.user.email %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @timeweek.start_date %>
</p>

<p>
	This week contains <%= @timesheets.count %> timesheets<br />
	<% @timesheets.each do |timesheet| %>
		ID <%= timesheet.id %>
	    User <%= timesheet.user.email %> 
	    Week Starting <%= timesheet.timeweek.start_date %> 
	    Date <%= timesheet.timesheet_date %> 
	    <%= link_to "Show", [timesheet.timeweek, timesheet] %>
	    <%= link_to "Edit", [timesheet.timeweek, timesheet], :method => 'edit' %>
	    <%= link_to 'Destroy', [timesheet.timeweek, timesheet], method: :delete, data: { confirm: 'Are you sure?' } %>
	    <br />
	    
    <% end %>
</p>

<%= link_to 'Edit', edit_timeweek_path(@timeweek), class: "btn" %> |
<%= link_to 'Back', timeweeks_path, class: "btn" %><br>
<%= link_to 'New Timesheet', new_timeweek_timesheet_path(@timeweek), class: "btn" %>
