<div class="row">
  <div class="col-lg-9">
    <%= form_for [@travel_request, @travel_leg], :url => {:action => 'create'}, :html => {class: "form-horizontal edit-stock"} do |f| %>
      <% if @travel_leg.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@travel_leg.errors.count, "error") %> prohibited this travel_leg from being saved:</h2>

          <ul>
          <% @travel_leg.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field form-group">
        <%= f.label :date_start, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <div class="input-group" id="StartDateTimePicker">
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
            </span>
            <%= f.text_field :date_start, class: "form-control", value: @formatted_start_date %>
          </div>
        </div>
      </div>

      <div class="field form-group">
        <%= f.label :date_end, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <div class="input-group" id="EndDateTimePicker">
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
            </span>
            <%= f.text_field :date_end, class: "form-control", value: @formatted_end_date %>
          </div>
        </div>
      </div>

      <div class="field form-group">
        <%= f.label :destination_city, "City/Town", class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :destination_city, class: "form-control" %>
        </div>
      </div>

      <div class="field form-group">
        <%= f.label :destination_state, "State", class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :destination_state, class: "form-control" %>
        </div>
      </div>

      <div class="field form-group">
        <%= f.label :destination_address, "Address", class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :destination_address, class: "form-control" %>
          <p class="help-block">This field is not required</p>
        </div>
      </div>

      <div class="field form-group">
        <%= f.label :destination_suburb, "Suburb", class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :destination_suburb, class: "form-control" %>
          <p class="help-block">This field is not required</p>
        </div>
      </div>

      <div class="field form-group">
        <%= f.label :destination_postcode, "Postcode", class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :destination_postcode, class: "form-control" %>
          <p class="help-block">This field is not required</p>
        </div>
      </div>
      
      <div class="field form-group">
        <%= f.label :comment, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :comment, class: "form-control" %>
        </div>
      </div>

      <div class="actions col-sm-offset-3 col-sm-9">
        <%= f.submit class: "btn btn-sm btn-success" %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('#StartDateTimePicker').datetimepicker({
      pickTime: false
    });
  });
  $(function () {
    $('#EndDateTimePicker').datetimepicker({
      pickTime: false
    });
  });
</script>
