<h4>Bookings for this leg</h4>
<%= @flights.count %> flights
<%= @accommodation.count %> accommodations
<%= @car_hire.count %> car hires
<table class="table table-striped table-sorter">
  <thead>
    <tr>
      <th>Summary</th>
      <th>Booked</th>
      <th>Show</th>
    </tr>
  </thead>
  <tbody class="searchable">
    <% @flights.each do |flight| %>
      <tr>
        <td><span class="glyphicon glyphicon-plane"></span> <%= flight.takeoff_location %> to <%= flight.landing_location %> on <%= flight.flight_date.strftime("%A") %> the <%= flight.flight_date.strftime("%d/%m/%y") %> </td>
        <td>
          <% if flight.booked == true %>
            <span class="glyphicon glyphicon-ok"></span>
          <% else %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
        <td>
          <div class="btn-group">
            <%= link_to "Show", travel_request_travel_leg_flight_path(params[:travel_request_id], params[:id], flight.id), class: "btn btn-xs btn-primary" %>
            <%= link_to "Destroy", travel_request_travel_leg_flight_path(params[:travel_request_id], params[:id], flight.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
    <% @accommodation.each do |accommodation| %>
      <tr>
        <td><span class="glyphicon glyphicon-home"></span> <%= accommodation.preffered_location %> for <%= accommodation.check_in.strftime("%A") %> the <%= accommodation.check_in.strftime("%d/%m/%y") %> to <%= accommodation.check_out.strftime("%d/%m/%y")  %>  </td>
        <td>
          <% if accommodation.booked == true %>
            <span class="glyphicon glyphicon-ok"></span>
          <% else %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
        <td>
          <div class="btn-group">
            <%= link_to "Show", travel_request_travel_leg_accommodation_path(params[:travel_request_id], params[:id], accommodation.id), class: "btn btn-xs btn-primary" %>
            <%= link_to "Destroy", travel_request_travel_leg_accommodation_path(params[:travel_request_id], params[:id], accommodation.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
          </div>
        </td>
      </tr>
    <% end%>
    <% @car_hire.each do |car_hire| %>
      <tr>
        <td><span class="glyphicon glyphicon-road"></span> <%= car_hire.driver %> to pickup on <%= car_hire.pickup_date.strftime("%A") %> the <%= car_hire.pickup_date.strftime("%d/%m/%y") %></td>
        <td>
          <% if car_hire.booked == true %>
            <span class="glyphicon glyphicon-ok"></span>
          <% else %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
        <td>
          <div class="btn-group">
            <%= link_to "Show", travel_request_travel_leg_car_hire_path(params[:travel_request_id], params[:id], car_hire.id), class: "btn btn-xs btn-primary" %>
            <%= link_to "Destroy", travel_request_travel_leg_car_hire_path(params[:travel_request_id], params[:id], car_hire.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
          </div>
        </td>
      </tr>
    <% end%>
  </tbody>
</table>
