<div class="page-header">
  <h1>Viewing <% if @travel_leg.destination_type == "flight" %>Flight Booking<%else%>Destination<%end%></h1>
  <h4><%= @travel_leg.user.count %> Travelers in this leg.</h4>
</div>
<div class="content">
  <div class="row">
    <% if @travel_leg.user.count < 1 %>
      <div class="col-sm-8 bg-danger">
        There doesnt appear to be anyone <% if @travel_leg.destination_type == "flight" %>on this flight?<% else %>traveling to this destination?<%end%>
      </div>
    <% else %>
      <div class="col-sm-8">
        <% if @travel_leg.bookings_remaining < 1 and (current_user.role == "travel" or current_user.role == "admin") and @travel_leg.fully_booked != true %>
          All accommodation and Car Hire Booked. <%= link_to "Finalise Flight", travel_request_travel_leg_path(@travel_request, @travel_leg), method: :complete_booking , class: "btn btn-sm btn-success"%>
        <% elsif current_user.role == "travel" or current_user.role == "admin" %>
          <%= @travel_leg.bookings_remaining %> items remain to be booked.
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h4>Leg Detail</h4>
      <div class="row">
        <div class="col-sm-4 ener-header">
          <strong>Flight Date:</strong>
        </div>
        <div class="col-sm-8">
          <%= @travel_leg.date_start.strftime("%A") %>, <%= @travel_leg.date_start.strftime("%d/%m/%y") %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 ener-header">
          <strong>Destination:</strong><br>
        </div>
        <div class="col-sm-8">
          <%= @travel_leg.destination_city %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 ener-header">
        <strong>Comment:</strong>
      </div>
        <div class="col-sm-8">
          <%= @travel_leg.comment %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 ener-header">
        <strong>Travelers:</strong>
      </div>
        <div class="col-sm-8">
          <% @travel_leg.user.each do |user| %>
            <%= format_name(user.email) %><br>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <%= render 'show_bookings' %>
    </div>
  </div>
  <br>
  <% if @travel_leg.fully_booked != true and @travel_leg.travel_request.lodged != true %>
    <div class="row">
      <div class="col-lg-4 btn-group">
        <%= link_to "Add Traveler", add_user_path(params[:travel_request_id], @travel_leg), class: "btn btn-sm btn-success" %>
        <%= link_to "Remove Traveler", remove_user_path(params[:travel_request_id], @travel_leg), class: "btn btn-sm btn-danger" %>
      </div>
      <div class="col-lg-8 btn-group">
        <%= link_to 'Add Car Hire', new_travel_request_travel_leg_car_hire_path(params[:travel_request_id], params[:id]), class: "btn btn-sm btn-success" %>
        <%= link_to 'Add Accommodation', new_travel_request_travel_leg_accommodation_path(params[:travel_request_id], params[:id]), class: "btn btn-sm btn-success" %>
      </div>
    </div>
  <% end %>
  <br>
  <div class="row">
    <div class="col-lg-4 btn-group">
      <%= link_to 'Edit', edit_travel_request_travel_leg_path(params[:travel_request_id], @travel_leg.id), class: "btn btn-sm btn-primary" %>
      <%= link_to 'Back', travel_request_path(params[:travel_request_id]), class: "btn btn-sm btn-info" %>
    </div>
  </div>
</div>
