<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your Leave Request has been rejected</h1>
    <p>
      <%= @rejecting_user.email %> has rejected your leave request.<br><br>
      The reason supplied for this was: <%= @comment %><br><br>
      This leave request was created at <%= @leave.created_at %>.<br>
      Start Date: <%= @leave.start_date %><br>
      End Date: <%= @leave.end_date %><br>
      Leave Type: <%= @leave.leave_type %><br>
      Comment: <%= @leave.comment %><hr>
      This Leave Request will need to be relodged.
    </p>
  </body>
</html>
