<div class="row">
  <div class="col-lg-12">
    <%= form_for [@travel_request, @travel_leg, @flight], :url => {:action => 'create'} do |f| %>
      <% if @flight.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>
          <ul>
            <% @flight.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="col-sm-2">
          <div class="field">
            <%= f.label :takeoff_location, class: "" %>
            <%= f.text_field :takeoff_location, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="field">
            <%= f.label :landing_location, class: "" %><br>
            <%= f.text_field :landing_location, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="field">
            <span class="glyphicon glyphicon-calendar"></span><%= f.label :flight_date, class: "control-label" %><br>
            <div id="DateTimePicker">
              <%= f.text_field :flight_date, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="field form-group">
            <%= f.label :comment, class: "" %> Extra Baggae Etc.
            <%= f.text_field :comment, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="actions">
            <br><%= f.submit class: "btn btn-sm btn-success" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('#DateTimePicker').datetimepicker({
      pickTime: true
    });
  });
</script>
