<div class="page-header">
  <h1>Approve Accommodation</h1>
</div>

<div class="content">
  <div class="row">
    <div class="col-lg-6">
      <h4>Please Double Check Booking Details</h4>
      <h4>This is a <% if @flight.return == true %>return<% else %>one-way<%end%> flight.</h4>
      <div class="row">
        <div class="col-sm-4 ener-header">
          <strong>Accommodation For:</strong>
        </div>
        <div class="col-sm-6">
          <strong><% @travel_leg.user.each do |user| %>
            <%= user.email %><br>
          <% end %></strong>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 ener-header">
          <strong>Preffered flight:</strong>
        </div>
        <div class="col-sm-6">
          <%= @flight.preffered_flight %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 ener-header">
          <strong>Preffered time:</strong>
        </div>
        <div class="col-sm-6">
          <%= @flight.preffered_time %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 ener-header">
          <strong>Flight Date:</strong>
        </div>
        <div class="col-sm-6">
          <%= @flight.flight_date.strftime("%A") %>, <%= @flight.flight_date.strftime("%d/%m/%y") %>
        </div>
      </div>
      <% if @flight.return == true %>
        <div class="row">
          <div class="col-sm-4 ener-header">
            <strong>Return Date:</strong>
          </div>
          <div class="col-sm-6">
            <%= @flight.return_date.strftime("%A") %>, <%= @flight.return_date.strftime("%d/%m/%y") %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-sm-4 ener-header">
          <strong>Takeoff location:</strong>
        </div>
        <div class="col-sm-6">
          <%= @flight.takeoff_location %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 ener-header">
          <strong>Landing location:</strong>
        </div>
        <div class="col-sm-6">
          <%= @flight.landing_location %>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-offset-1 col-lg-11">
          <h4>Booking Approval</h4>
        </div>
      </div>
      <%= form_for [@travel_request, @travel_leg, @flight], :url => {:action => 'approval'}, :html => {class: "form-horizontal edit-stock"} do |f| %>
        <% if @flight.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

            <ul>
            <% @flight.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field form-group">
          <%= f.label :booking_comment, class: "col-sm-4 control-label" %>
          <div class="col-sm-8">
            <%= f.text_field :booking_comment, class: "form-control" %>
            <p class="help-block">Airline/Booking References go here.</p>
          </div>
        </div>

        <div class="actions col-sm-offset-4 col-sm-8">
          <%= f.submit "Finalise Booking", class: "btn btn-sm btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <%= link_to "back", travel_request_travel_leg_flight_path(params[:travel_request_id], params[:travel_leg_id], @flight) , class: "btn btn-sm btn-info" %>
    </div>
  </div>
</div>
