<div class="page-header">
  <h1>Flight Details</h1>
</div>
<div class="content">
  <p>
    <strong>Preffered flight:</strong>
    <%= @flight.preffered_flight %>
  </p>

  <p>
    <strong>Preffered time:</strong>
    <%= @flight.preffered_time %>
  </p>

  <p>
    <strong>Takeoff location:</strong>
    <%= @flight.takeoff_location %>
  </p>

  <p>
    <strong>Landing location:</strong>
    <%= @flight.landing_location %>
  </p>
  <div class="btn-group">
    <%= link_to 'Edit', edit_travel_request_travel_leg_flight_path(params[:travel_request_id], params[:travel_leg_id], @flight), class: "btn btn-sm btn-primary" %>
    <%= link_to 'Back', travel_request_travel_leg_path(params[:travel_request_id], params[:travel_leg_id]), class: "btn btn-sm btn-info" %>
  </div>
</div>
