<div class="page-header">
  <h1>Flight Details</h1>
</div>
<div class="content">
  <div class="row">
    <div class="col-sm-2 ener-header">
      <strong>Flight For:</strong>
    </div>
    <div class="col-sm-4">
      <strong><% @travel_leg.user.each do |user| %>
        <%= user.email %><br>
      <% end %></strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 ener-header">
      <strong>Flight Date:</strong>
    </div>
    <div class="col-sm-4">
      <%= @flight.flight_date.strftime("%A") %>, <%= @flight.flight_date.strftime("%d/%m/%y") %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 ener-header">
      <strong>Flight Destination:</strong>
    </div>
    <div class="col-sm-4">
      <%= @flight.landing_location %>
    </div>
  </div>
  <br>
  <% if @flight.booked == true %>
    <div class="row">
      <div class="col-sm-2 ener-header">
        <strong>Booking Comment:</strong>
      </div>
      <div class="col-sm-4">
        <%= @flight.booking_comment %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-lg-6">
      <% if @flight.booked == false and (current_user.role == "admin" or current_user.role == "travel") and @flight.travel_leg.travel_request.lodged == true %>
        <%= link_to "Approve", approve_flight_path(params[:travel_request_id], params[:travel_leg_id], @flight), class: "btn btn-sm btn-success" %>
      <% elsif @flight.booked == false and (current_user.role == "admin" or current_user.role == "travel") and @flight.travel_leg.travel_request.lodged != true %>
        This flight cannot be booked until its request has been lodged.<br>
      <% end %>
      <div class="btn-group">
        <% if @flight.booked == false or (current_user.role == "admin" or current_user.role == "travel") %>
          <%= link_to 'Edit', edit_travel_request_travel_leg_flight_path(params[:travel_request_id], params[:travel_leg_id], @flight), class: "btn btn-sm btn-primary" %>
        <% end %>
        <%= link_to 'Back', travel_request_travel_leg_path(params[:travel_request_id], params[:travel_leg_id]), class: "btn btn-sm btn-info" %>
      </div>
    </div>
  </div>
</div>
