<h1>Listing costcenters</h1>

<table>
  <thead>
    <tr>
      <th>Cost code</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @costcenters.each do |costcenter| %>
      <tr>
        <td><%= costcenter.cost_code %></td>
        <td><%= costcenter.description %></td>
        <td><%= link_to 'Show', costcenter %></td>
        <td><%= link_to 'Edit', edit_costcenter_path(costcenter) %></td>
        <td><%= link_to 'Destroy', costcenter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Costcenter', new_costcenter_path %>
