<%= form_for [@travel_request, @travel_leg, @accommodation], :url => {:action => 'create'}, :html => {class: "form-horizontal edit-stock"} do |f| %>
  <% if @accommodation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accommodation.errors.count, "error") %> prohibited this accommodation from being saved:</h2>

      <ul>
      <% @accommodation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row">
      <div class="field col-lg-2">
        <%= f.label :preffered_location %>
        <%= f.text_field :preffered_location, class: "form-control" %>
        <p class="help-block">Leave blank if you do not have a preference.</p>
      </div>
      <div class="field col-lg-2">
        <span class="glyphicon glyphicon-calendar"></span><%= f.label :check_in %>
        <div id="StartDateTimePicker">
          <%= f.text_field :check_in, class: "form-control", value: @formatted_checkin_date %>
        </div>
      </div>
      <div class="field col-lg-2">
        <span class="glyphicon glyphicon-calendar"></span><%= f.label :check_out %>
        <div id="EndDateTimePicker">
          <%= f.text_field :check_out, class: "form-control", value: @formatted_checkout_date %>
        </div>
      </div>
      <div class="field col-lg-2">
        <%= f.label :comment %>
        <%= f.text_field :comment, class: "form-control" %>
      </div>
      <div class="actions col-lg-2">
        <br><%= f.submit class: "btn btn-sm btn-success" %>
      </div>
    <% end %>

    <script type="text/javascript">
      $(function () {
        $('#StartDateTimePicker').datetimepicker();
      });
      $(function () {
        $('#EndDateTimePicker').datetimepicker();
      });
    </script>
  </div>
</div>
