<div id="content">
  <div class="container col-md-6 eneraque-table">
    <div class="paragraph">
      <div class="row header-row">
        <div class="col-sm-3 ener-header"><h4>Employee</h6></div>
        <div class="col-sm-2 ener-header"><h4>Type</h6></div>
        <div class="col-sm-2 ener-header"><h4>Startdate</h6></div>
        <div class="col-sm-2 ener-header"><h4>Enddate</h6></div>
        <div class="col-sm-3 ener-header"></div>
      </div>
      <hr style="margin-bottom:5px;margin-top:5px;">

      <% @leave_requests.each do |leave_request| %>
        <div class="row">
          <div class="col-sm-3"><p style="font-size:10px;"><%= format_name(User.find(leave_request.user).email) %></p></div>
          <div class="col-sm-2"><p style="font-size:10px;"><%= leave_request.leave_type %></p></div>
          <div class="col-sm-2"><p style="font-size:10px;"><%= leave_request.start_date %></p></div>
          <div class="col-sm-2"><p style="font-size:10px;"><%= leave_request.end_date %></p></div>
          <% if logged_in? and can? :manage, leave_request %>
            <div class="btn-group col-sm-3" >
              <%= link_to "Show", leave_request, class: "btn btn-xs btn-info" %>
              <%= link_to "Edit", edit_leave_request_path(leave_request), class: "btn btn-xs btn-info" %>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= will_paginate @leave_requests %>
      <br />
      <% if logged_in? %>
        <div class="btn-group">
          <%= link_to 'New Leave request', new_leave_request_path, class: "btn btn-sm btn-success" %>
          <% if can? :manage, :all or can? :approve, :all %>
            <%= link_to 'Approvals', approvals_leave_requests_path, class: "btn btn-sm btn-success" %>
          <% end %>
        </div>
      <% end %>
      <br />
    </div>
  </div>
  <div class="container col-md-6">
    <div id="calendar"></div>
  </div>
  <br />
  <br />
</div>
