<div class="paragraph">
  <div class="row">
    <h3>Part Days</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="ener-header">Part Date</th>
          <th class="ener-header">Part Day Start</th>
          <th class="ener-header">Part Day End</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="searchable">
        <% @part_days.each do |part_day| %>
          <tr>
            <td><%= part_day.part_date %></td>
            <td><%= part_day.part_start %></td>
            <td><%= part_day.part_end %></td>
            <td>
              <div class="btn-group">
                <%= link_to 'Show', part_day, class: "btn btn-xs btn-info" %>
                <%= link_to 'Edit', edit_part_day_path(part_day), class: "btn btn-xs btn-info" %>
                <%= link_to 'Destroy', part_day, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-info" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to "New Part Day", new_leave_request_part_day_path(@leave_request), class: "btn btn-sm btn-success"%>
</div>
