<div class="page-header">
  <h1>Leave Period Report</h1>
  <p>This report finds leave requests that start between the two dates input below</p>
  <p>To insert a date click the calendar to bring up the date picker. Users with older versions of internet explorer will need to enter dates in the American format (MM/DD/YYYY)</p>
</div>

<div class="row">
  <div class="col-lg-6">
    <%= form_for (@leave_request), url: {action: "approved_request"}, html: {class: "form-horizontal"} do |f| %>
      <% if @leave_request.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@leave_request.errors.count, "error") %> prohibited this leave_request from being saved:</h2>

          <ul>
          <% @leave_request.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :start_date, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <div class="input-group" id="StartDateTimePicker">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
            <%= f.text_field :start_date, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :end_date, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <div class="input-group" id="EndDateTimePicker">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
            <%= f.text_field :end_date, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="actions col-sm-offset-3 col-sm-9">
        <%= f.submit "Submit Query", class: "btn btn-sm btn-success" %>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
	$(function () {
		$('#StartDateTimePicker').datetimepicker({
			pickTime: false
		});
    $('#EndDateTimePicker').datetimepicker({
      pickTime: false
    });
	});
</script>
