<div class="row">
  <div class="col-lg-6">
    <%= form_for (@leave_request), url: {action: "approved_request"}, html: {class: "form-horizontal"} do |f| %>
      <% if @leave_request.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@leave_request.errors.count, "error") %> prohibited this leave_request from being saved:</h2>

          <ul>
          <% @leave_request.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :start_date, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <div class: "form-control">
            <%= f.date_field :start_date %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :end_date, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <div class: "form-control">
            <%= f.date_field :end_date %>
          </div>
        </div>
      </div>
      <div class="actions col-sm-offset-3 col-sm-9">
        <%= f.submit class: "btn btn-sm btn-success" %>
      </div>
    <% end %>
  </div>
</div>
