<%= render 'calendar' %>

<div id="content">
  <div class="container">
    <h1 style="color: #263746;">Leave Requests Calendar</h1>
  </div>
</div>

<div id="content">
  <div class="container col-md-6">
    <div class="paragraph">
      <div class="row">
        <div class="col-sm-3"><h4>Employee</h6></div>
        <div class="col-sm-2"><h4>Startdate</h6></div>
        <div class="col-sm-2"><h4>Enddate</h6></div>
        <div class="col-sm-5"></div>
      </div> <br />
      <% @leave_requests.each do |leave_request| %>
        <div class="row">
          <div class="col-sm-3"><p style="font-size:10px;"><%= leave_request.employee %></p></div>
          <div class="col-sm-2"><p style="font-size:10px;"><%= leave_request.start_date %></p></div>
          <div class="col-sm-2"><p style="font-size:10px;"><%= leave_request.end_date %></p></div>
          <% if logged_in? %>
            <div class="btn-group col-sm-5" >
              <%= link_to "<button type=\"button\" class=\"btn button_default\">Show</button>".html_safe, leave_request %>
              <%= link_to "<button type=\"button\" class=\"btn button_default\">Edit</button>".html_safe, edit_leave_request_path(leave_request) %>
              <%= link_to "<button type=\"button\" class=\"btn button_default\">Destroy</button>".html_safe, leave_request, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          <% end %>
        </div> <br />
      <% end %>  
      <br />
      <% if logged_in? %>
        <%= button_to 'New Leave request', new_leave_request_path, :method => "get", :class => "btn button_default" %>
      <% end %>
      <br />
    </div>
    <% if logged_in? %>
      <%= render 'import' %>
    <% end %>
  </div>
  <div class="container col-md-6">
    <div id="calendar"></div>
  </div>
  <br />
  <br />
</div>
