<div class="page-header">
  <h1>Leave Request</h1>
</div>
<div class="paragraph">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Employee:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong Approved:</strong> <%= @leave_request.approved %>
  </p>

  <p>
    <strong>Leave Type:</strong>
    <%= @leave_request.leave_type %>
  </p>

  <p>
    <strong>Startdate:</strong>
    <%= @leave_request.start_date %>
  </p>

  <p>
    <strong>Enddate:</strong>
    <%= @leave_request.end_date %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= @leave_request.comment %>
  </p>

  <div class="btn-group">
    <% if logged_in? %>
  		<%= link_to 'Edit', edit_leave_request_path(@leave_request), class: "btn btn-sm btn-info" %>
  		<%= link_to 'Back', leave_requests_path, class: "btn btn-sm btn-info" %>
    <% end %>
    <% if can? :manage, :all and @leave_request.approved == 'false' %>
      <%= link_to "Approve", approve_leave_path(@leave_request), class: 'btn btn-sm btn-warning'%>
    <% end %>
  </div>
</div>
