<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @leave_request.employee %>
</p>

<p>
  <strong>Leave Type:</strong>
  <%= @leave_request.leave_type %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @leave_request.start_date %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @leave_request.end_date %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @leave_request.comment %>
</p>

<% if logged_in? %>
	<div class="btn-group">
		<%= link_to 'Edit', edit_leave_request_path(@leave_request), class: "btn" %>
		<%= link_to 'Back', leave_requests_path, class: "btn" %>
	</div>
<% end %>
