<% @travel_legs.each do |travel_leg| %>
  <div class="row eneraque-box <% if travel_leg.fully_booked == true %>bg-success<%else%>bg-warning<%end%>">
    <div class="col-sm-4">
      <strong>Flight Details</strong>
    </div>
    <div class="col-sm-8">
      <% if travel_leg.fully_booked == true %>
        <strong>Booked?</strong> <span class="glyphicon glyphicon-ok"></span>
      <% else %>
        <strong>Booked?</strong> <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    </div>
    <div class="col-sm-12">
      <strong>Travelers:</strong>
      <% travel_leg.user.each do |user| %>
        <%= format_name(user.email) %>,
      <% end %>
    </div>
    <div class="col-sm-4"><strong>Destination:</strong><%= travel_leg.destination_city%></div>
    <div class="col-sm-8"><strong>Travel Date:</strong><%= travel_leg.date_start.strftime("%A %B %d %Y") %></div>
    <div class="col-sm-4">
      <strong>Car Hire:</strong><%= travel_leg.car_hire.count %>
    </div>
    <div class="col-sm-8" style="padding:0px 0px 5px 0px;">
      <strong>Accommodation: </strong><%= travel_leg.accommodation.count %>
    </div>
    <div class="col-sm-12">
      <%= link_to 'Show', travel_request_travel_leg_path(@travel_request, travel_leg.id), class: "btn btn-xs btn-primary" %>
      <div class="btn-group">
        <%= link_to 'Add Car Hire', new_travel_request_travel_leg_car_hire_path(@travel_request, travel_leg), class: "btn btn-xs btn-success" %>
        <%= link_to 'Add Accommodation', new_travel_request_travel_leg_accommodation_path(@travel_request, travel_leg), class: "btn btn-xs btn-success" %>
      </div>
      <% if @travel_request.user == current_user or current_user.role == 'travel' or current_user.role == 'admin' %>
        <%= link_to 'Destroy', travel_request_travel_leg_path(@travel_request, travel_leg), method: :delete, class: "btn btn-xs btn-danger" %>
      <% end %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-sm-12 btn-group">
    <%= link_to 'Add a Flight', new_travel_request_travel_leg_path(@travel_request), class: "btn btn-sm btn-success" %>
    <%= link_to 'Add a Destination', new_travel_request_travel_leg_path(@travel_request), class: "btn btn-sm btn-success" %>
  </div>
</div>
