<h1>Listing travel_requests</h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>Comment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @travel_requests.each do |travel_request| %>
      <tr>
        <td><%= travel_request.start_date %></td>
        <td><%= travel_request.end_date %></td>
        <td><%= travel_request.comment %></td>
        <td><%= link_to 'Show', travel_request %></td>
        <td><%= link_to 'Edit', edit_travel_request_path(travel_request) %></td>
        <td><%= link_to 'Destroy', travel_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Travel request', new_travel_request_path %>
