<div class="page-header">
  <h1>Showing Travel Request for <%= @travel_request.user.email %></h1>
</div>

<div class="content">
  <div class="row">
    <div class="col-sm-9">
      <% if @travel_request.legs_booked? and (current_user.role == "travel" or current_user.role == "admin") and @travel_request.fully_booked != true %>
        All bookings complete. <%= link_to "Finalise Bookings", travel_request_path(@travel_request), method: :complete_booking , class: "btn btn-sm btn-success"%>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h4>This Travel Request <% if @travel_request.fully_booked? %> is marked as complete.<% elsif @travel_request.request_booked? %> is pending travel signoff.<% else %> has <%= @travel_request.unbooked_legs %> leg(s) to book.<% end %></h4>
      <p>
        <strong>Start date:</strong>
        <%= @travel_request.start_date.strftime("%A %B %d %Y") %>
      </p>

      <p>
        <strong>End date:</strong>
        <%= @travel_request.end_date.strftime("%A %B %d %Y") %>
      </p>

      <p>
        <strong>Comment:</strong>
        <%= @travel_request.comment %>
      </p>
    </div>
    <div class="col-lg-8">
      <%= render 'travel_leg' %>
    </div>
  </div>
  <% if @travel_request.lodged != true and @travel_request.fully_booked != true  %>
    <%= link_to 'Lodge Request', lodge_travel_request_path(@travel_request), method: :lodge, class: "btn btn-sm btn-success" %>
    <%= link_to 'Add Leg', new_travel_request_travel_leg_path(@travel_request), class: "btn btn-sm btn-success" %>
  <% elsif @travel_request.fully_booked %>
    <%= link_to 'Show Itinerary', itinerary_travel_request_path(@travel_request), class: "btn btn-sm btn-info" %>
  <% end %>
  <div class="btn-group">
    <%= link_to 'Edit', edit_travel_request_path(@travel_request), class: "btn btn-sm btn-primary" %>
    <%= link_to 'Back', travel_requests_path, class: "btn btn-sm btn-primary" %>
  </div>
</div>
