<div class="page-header">
  <h1>Showing Travel Request for <%= @travel_request.user.email %></h1>
</div>

<div class="content">
  <div class="row">
    <div class="col-sm-9">
      <h4>
        <% if @travel_request.fully_booked == true %>
          This request is fully booked for its <%= @travel_request.travel_leg.count %> flights.
        <% else %>
          There are currently <%= @travel_request.travel_leg.count %> flights in this travel request, <%= @travel_request.unbooked_legs %> remain to be booked.
        <% end %>
      </h4>
      <% if @travel_request.manager_approved ==  true %>
        <% if current_user.role == 'travel' or current_user.role == 'admin' %>
          <% if @travel_request.lodged == true and @travel_request.fully_booked != true %>
            All bookings complete. <%= link_to "Finalise Bookings", travel_request_path(@travel_request), method: :complete_booking , class: "btn btn-sm btn-success"%>
          <% end %>
        <% end %>
      <% else %>
        <% if current_user.email == @travel_request.user.manager_email or current_user.role == 'admin' %>
          You are the manager for this booking. <%= link_to "Approve Request", manager_approve_travel_request_path(@travel_request), method: :manager_approve, class: "btn btn-sm btn-success"%>
        <% else %>
          This booking is pending manager approval. The manager responsible for approval is <%= format_name(@travel_request.user.manager_email) %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h4>Travel Request Details</h4>
      <p>
        <strong>Job Number & Cost Code:</strong>
        <%= @travel_request.comment %> <%= link_to 'Edit', edit_travel_request_path(@travel_request), class: "btn btn-xs btn-primary" %>
      </p>
      <p>
        <strong>Lodged On:</strong>
        <%= @travel_request.created_at.strftime('%d/%m/%Y') %>
      </p>
      <p>
        <strong>Requester:</strong>
        <%= format_name(@travel_request.user.email) %>
      </p>
      <p>
        <% if @travel_request.lodged != true and @travel_request.fully_booked != true  %>
          <% if @travel_request.travel_leg.count > 0 %>
            <%= link_to 'Lodge Request', lodge_travel_request_path(@travel_request), method: :lodge, class: "btn btn-sm btn-success" %>
          <% end %>
          <%= link_to 'Add Leg', new_travel_request_travel_leg_path(@travel_request), class: "btn btn-sm btn-success" %>
        <% elsif @travel_request.fully_booked %>
          <%= link_to 'Show Itinerary', itinerary_travel_request_path(@travel_request), class: "btn btn-sm btn-info" %>
        <% end %>
      </p>
    </div>
    <div class="col-lg-8">
      <%= render 'travel_leg' %>
    </div>
  </div>
  <div class="btn-group">
    <%= link_to 'Back', travel_requests_path, class: "btn btn-sm btn-primary" %>
  </div>
</div>
