<div class="page-header">
  <h1>Travel Request for <%= @travel_request.user.email %></h1>
  <h4><%= @travel_leg.user.count %> Travelers in this booking. Booked by <%= format_name(@travel_request.user.email) %></h4>
</div>
<div class="content">
  <div class="row">
    <div class="col-sm-4">
      <h4>Travellers</h4>
      <% @travel_leg.user.each do |user| %>
      <%= user.email %><br>
      <% end %><br>
    </div>
    <div class="col-sm-8">
      This booking has been lodged.<br>
      This booking has <% if @travel_request.manager_approved == true %> been approved by a manager <% else %> not been approved (responsible manager is <%= format_name(@travel_request.user.manager_email)%>) <% end %><br>
      <% if @travel_leg.bookings_remaining < 1 and (current_user.role == "travel" or current_user.role == "admin") and @travel_leg.fully_booked != true %>
      All accommodation and Car Hire Booked. <%= link_to "Finalise Flight", travel_request_travel_leg_path(@travel_request, @travel_leg), method: :complete_booking , class: "btn btn-sm btn-success"%>
      <% elsif current_user.role == "travel" or current_user.role == "admin" %>
      <%= @travel_leg.bookings_remaining %> items remain to be booked.
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-sm-4">
          <h4>Bookings for this Travel Request</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= render 'travel_legs/show_bookings' %>
        </div>
      </div>
    </div>
  </div>
  <br>
  <% if @travel_leg.fully_booked != true and @travel_leg.travel_request.lodged != true %>
  <div class="row">
    <div class="col-lg-4 btn-group">
      <%= link_to "Submit Request", lodge_travel_request_path(@travel_request), method: :lodge, class: "btn btn-sm btn-success" %>
    </div>
  </div>
  <% end %>
  <br>
  <div class="row">
    <div class="col-lg-4 btn-group">
      <%= link_to 'Back', travel_requests_path, class: "btn btn-sm btn-info" %>
    </div>
  </div>
</div>
