<div id="content">
  <div class="container">
    <h1 style="color: #263746;">User Directory</h1>
  </div>
</div>

<div id="content">
  <div class="paragraph">
    <div class="row">
      <div class="col-sm-3"><h4>Employee</h6></div>
      <div class="col-sm-2"></div>
      <div class="col-sm-5" ></div>
    </div> <br />

  <% @users.each do |user| %>
    <div class="row">
      <div class="col-sm-3"><p><%= user.email %></p></div>
      <div class="col-sm-2">
        <%= user.role %>
      </div>
      <div class="btn-group col-sm-5" >
        <% if can? :manage, user or current_user.id == user.id %>
          <%= link_to "<button type=\"button\" class=\"btn button_default\">Show</button>".html_safe, user %>
          <%= link_to "<button type=\"button\" class=\"btn button_default\">Edit</button>".html_safe, edit_user_path(user) %>
        <% end %>
        <% if can? :manage, user %>
          <%= link_to "<button type=\"button\" class=\"btn button_default\">Destroy</button>".html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to "<button type=\"button\" class=\"btn button_default\">New User</button>".html_safe, new_user_path %>
