<div id="content">
  <div class="paragraph">
    <h1 style="color: #263746;">User Directory</h1>
  </div>
</div>

<div id="content">
  <div class="paragraph">
    <div class="row">
      <div class="col-sm-3"><h4>Employee</h6></div>
      <div class="col-sm-2"></div>
      <div class="col-sm-5" ></div>
    </div> <br />

  <% @users.each do |user| %>
    <div class="row">
      <div class="col-sm-3"><p><%= format_name(user.email) %></p></div>
      <div class="col-sm-2">
        <%= user.role %>
      </div>
      <div class="btn-group col-sm-5">
        <% if current_user.id == user.id or can? :manage, :all %>
          <%= link_to "Change Password", edit_user_path(user), class: 'btn btn-xs btn-info' %>
          <%= link_to "Toil Requests", user_toil_path(user), class: 'btn btn-xs btn-info' %>
          <%= link_to "Back", leave_requests_path, class: 'btn btn-xs btn-info' %>
        <% end %>
        <% if can? :manage, :all %>
          <%= link_to "Edit Role", role_user_path(user), class: 'btn btn-xs btn-info' %>
          <%= link_to "Manager Email", manager_email_path(user), class: 'btn btn-xs btn-info' %>
        <% end %>
      </div>
      <% if can? :manage, :all %>
        <%= link_to "Delete", user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
      <% end %>
    </div>
  <% end %>
</div>

<br>
<div class="btn-group">
  <%= link_to "New User", new_user_path, class: 'btn btn-sm btn-primary' %>
</div>
