<div class="page-header">
  <h1>Showing User page for <%= format_name(@user.email) %></h1>
</div>
<div class="paragraph">
  <p id="notice"><%= notice %></p>

  <p class="row">
    <div class="col-sm-2"><strong>Email:</strong></div>
    <div class="col-sm-2"><%= @user.email %></div>
  </p>

  <p class="row">
    <div class="col-sm-2"><strong>Total Leave Requests:</strong></div>
    <div class="col-sm-2"><%= @leave_requests.count %></div>
  </p>

  <p class="row">
    <div class="col-sm-2"><strong>Total Toil Requests:</strong></div>
    <div class="col-sm-2"><%= @toil_requests.count %></div>
  </p>

  <p class="row">
    <div class="col-sm-2"><strong>User Type:</strong></div>
    <div class="col-sm-2"><%= @user.role %></div>
  </p>
  <div class="row" style="margin-bottom:20px;"></div>

  <div class="btn-group">
  	<% if current_user.id == @user.id or can? :manage, :all %>
  		<%= link_to "Change Password", edit_user_path(@user), class: 'btn btn-sm btn-info' %>
      <%= link_to "Change Manager", manager_email_path(@user), class: 'btn btn-sm btn-info' %>
  		<%= link_to "Toil Requests", user_toil_path(@user), class: 'btn btn-sm btn-info' %>
      <%= link_to "Leave Requests", user_leave_path(@user), class: 'btn btn-sm btn-info' %>
  	</div><br>
    <div class="btn-group" style="margin-top:10px;">
    <% end %>
  	<% if can? :manage, :all %>
  		<%= link_to "Edit Role", role_user_path(@user), class: 'btn btn-sm btn-primary' %>
  	<% end %>
  	<%= link_to "Show All Users", users_path, class: 'btn btn-sm btn-primary' %>
  	<%= link_to "Back", leave_requests_path, class: 'btn btn-sm btn-primary' %>
  </div>
</div>
