<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>TotalToilRequests:</strong>
  <%= @toil_requests.count %>
</p>

<div class="btn-group">
	<%= link_to "<button type=\"button\" class=\"btn button_default\">Change Password</button>".html_safe, edit_user_path(@user) %>
	<% if current_user.id == @user.id or can? :manage, :all %>
		<%= link_to "<button type=\"button\" class=\"btn button_default\">Edit Role</button>".html_safe, role_user_path(@user) %>
		<%= link_to "<button type=\"button\" class=\"btn button_default\">Show All Users</button>".html_safe, users_path %>
	<% end %>
	<%= link_to "<button type=\"button\" class=\"btn button_default\">Back</button>".html_safe, leave_requests_path %>
</div>
