<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>TotalToilRequests:</strong>
  <%= @toil_requests.count %>
</p>

<p>
  <strong>User Type:</strong>
  <%= @user.role %>
</p>


<div class="btn-group">
	<% if current_user.id == @user.id or can? :manage, :all %>
		<%= link_to "Change Password", edit_user_path(@user), class: 'btn' %>
		<%= link_to "Toil Requests", user_toil_path(@user), class: 'btn' %>
	<% end %>
	<% if can? :manage, :all %>
		<%= link_to "Edit Role", role_user_path(@user), class: 'btn' %>
	<% end %>
	<%= link_to "Show All Users", users_path, class: 'btn' %>
	<%= link_to "Back", leave_requests_path, class: 'btn' %>
</div>
