<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1>Toil Leave Request</h1>
</div>
<div class="paragraph">
  <p id="notice"><%= notice %></p>

  <p class="row">
    <div class="col-sm-3"><strong>User:</strong></div>
    <div class="col-sm-2"><%= @spend_toil.user.email %></div>
  </p>

  <p class="row">
    <div class="col-sm-3"><strong>Amount (Amount Remaining):</strong></div>
    <div class="col-sm-2"><%= @spend_toil.initial_amount %> (<%= @spend_toil.amount %>)</div>
  </p>
  <p class="row">
    <div class="col-sm-3"><strong>Date accrued:</strong></div>
    <div class="col-sm-2"><%= @spend_toil.leave_date %></div>
  </p>
  <p class="row">
    <div class="col-sm-3"><strong>Approved:</strong></div>
    <div class="col-sm-2"><%= @spend_toil.approved %></div>
  </p>
  <div class="row" style="margin-bottom:20px;"></div>
  <br />
  <div class="btn-group">
    <% if can? :manage, :all or @spend_toil.approved == 'false'%>
      <%= link_to 'Edit', edit_spend_toil_path(@spend_toil), class: "btn btn-sm btn-primary" %>
    <% end %>
    <%= link_to 'Back', toil_requests_path, class: "btn btn-sm btn-primary" %>
    <% if @spend_toil.approved == 'false' and can? :manage, :all %>
      <%= link_to "Approve", approve_toil_path(@spend_toil), class: 'btn btn-sm btn-warning'%>
    <% end %>
  </div>
</div>
