<%= form_for(@car_hire) do |f| %>
  <% if @car_hire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car_hire.errors.count, "error") %> prohibited this car_hire from being saved:</h2>

      <ul>
      <% @car_hire.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :driver %><br>
    <%= f.text_field :driver %>
  </div>
  <div class="field">
    <%= f.label :pickup_location %><br>
    <%= f.text_field :pickup_location %>
  </div>
  <div class="field">
    <%= f.label :pickup_date %><br>
    <%= f.datetime_select :pickup_date %>
  </div>
  <div class="field">
    <%= f.label :dropoff_date %><br>
    <%= f.datetime_select :dropoff_date %>
  </div>
  <div class="field">
    <%= f.label :dropoff_location %><br>
    <%= f.text_field :dropoff_location %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
