<%= form_for(@toil_request) do |f| %>
  <% if @toil_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@toil_request.errors.count, "error") %> prohibited this toil_request from being saved:</h2>

      <ul>
      <% @toil_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :date_accrued %><br>
    <%= f.date_select :date_accrued %>
  </div>
  <div class="field">
    <%= f.label :date_accrued_end %><br>
    <%= f.date_select :date_accrued_end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
