<h1>Listing Toil Requests</h1>

<div id="content">
  <div class="paragraph">
    <div class="row">
      <div class="col-sm-2"><h4>Employee</h6></div>
      <div class="col-sm-2"><h4>Time (minutes)</h6></div>
      <div class="col-sm-2"><h4>Start Date</h6></div>
      <div class="col-sm-2"><h4>Approved</h4></div>
      <div class="col-sm-4"></div>
    </div> <br />
    <% @toil_requests.each do |toil_request| %>
      <div class="row">
        <div class="col-sm-3"><%= toil_request.user.email %></div>
        <div class="col-sm-3"><%= toil_request.amount %></div>
        <div class="col-sm-2"><td><%= toil_request.date_accrued %></div>
        <div class="col-sm-2"><td><%= toil_request.approved %></div>
        <div class="btn-group col-sm-4">
          <%= link_to "<button type=\"button\" class=\"btn button_default\">Show</button>".html_safe, toil_request %>
          <%= link_to "<button type=\"button\" class=\"btn button_default\">Edit</button>".html_safe, edit_toil_request_path(toil_request) %>
          <%= link_to "<button type=\"button\" class=\"btn button_default\">Destroy</button>".html_safe, toil_request, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to "<button type=\"button\" class=\"btn button_default\">New Toil Request</button>".html_safe, new_toil_request_path %>
