<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @toil_request.user %>
</p>

<p>
  <strong>Initial amount:</strong>
  <%= @toil_request.initial_amount %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @toil_request.amount %>
</p>

<p>
  <strong>Date accrued:</strong>
  <%= @toil_request.date_accrued %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @toil_request.approved %>
</p>

<%= link_to 'Edit', edit_toil_request_path(@toil_request) %> |
<%= link_to 'Back', toil_requests_path %>
