<%= form_for(@part_day) do |f| %>
  <% if @part_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part_day.errors.count, "error") %> prohibited this part_day from being saved:</h2>

      <ul>
      <% @part_day.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :part_date %><br>
    <%= f.date_select :part_date %>
  </div>
  <div class="field">
    <%= f.label :part_start %><br>
    <%= f.time_select :part_start %>
  </div>
  <div class="field">
    <%= f.label :part_end %><br>
    <%= f.time_select :part_end %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-sm btn-success" %>
  </div>
<% end %>
